$bgColor: #DFDFDE;
$cardColor: #F7F5F2;
$favFullColor: #F56D91;
$linkColor: #395B64;

@import "src/styles";

.product-container {
  max-width: 80%;
}

.product-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 15px;
  border-radius: 5% !important;
  //max-width: 270px;
  //background-color: $bgColor;
}

.product-price {
  margin: 5px 0;
}

.product-button {
  margin: 0 5px;
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 10px;
  border-radius: 3%;
}

.mat-mdc-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 4px 4px 4px lightgray;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: $cardColor;
  margin: 15px;
  width: 300px;
}

.mat-mdc-card-header {
  height: 80px;
  display: flex;
  align-items: center;
  color: $linkColor;
}

.mat-mdc-card-actions > .mat-primary {
  margin: 10px !important;
  color: $linkColor;
}

.mat-mdc-card-title {
  margin-top: 20px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 64px;
  white-space: nowrap;
  width: 250px;
}

.mat-mdc-card-subtitle {
  text-align: center;
}
