// COLORS
$primary-color: #FAF0E4;
$secondary-color: #9BCDD2;
$tertiary-color: #FF8551;
$quarternary-color: #FFDEDE;

// COLOR MODIFIERS (use filter)
$darker: 85%;

// CARDS
$bgColor: #DFDFDE;
$cardColor: #F7F5F2;
$favFullColor: #F56D91;
$linkColor: #395B64;
