/* You can add global styles to this file, and also import other style files */

@import "src/app/style/custom";
@import "src/app/style/vars";
@import "src/app/style/modal_base";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $primary-color
}

.container {
  padding: 50px 0;
  margin: 0 auto;
  max-width: 60%;

  text-align: center;
  line-height: 2rem;
}

.heading {
}

.text {
}

.icon-button {
  color: $secondary-color !important;
}

.icon-button:hover {
  filter: brightness(85%);
}
